@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --azul: #1A73E8;
    --azul-claro: #669DF6;
    --azul-claro2:rgb(173, 204, 254);
    --azul-oscuro: #1555a8;
    --gris: #C8C8C8;
    --gris-claro: #ededf0;
    --gris-oscuro: #888;
    --gris-oscuro2: #444;
    --blanco: #fff;
    --negro: #000;
    --rojo: #db0404;
    --violeta: #8b1ae8;
    --verde: rgb(33, 132, 33);
    
    --fuente-normal: 1em;
    --fuente-chica: 0.8em;
    --fuente-grande: 1.2em;
    --fuente-grande2: 1.5em;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: var(--fuente-normal);
    color: var(--negro);
}

input, select {
    padding: 6px;
    border: none;
    border: solid 1px var(--gris);
    border-radius: 4px;
    font-size: var(--fuente-normal);
    outline: none;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: var(--fuente-normal);
}

.btn-form {
    background: var(--azul);
    color: var(--blanco);
    border-radius: 4px;
    width: max-content;
    transition: all 0.2s;
}

.btn-form:hover,
.btn-form3:hover {
    background: var(--azul-oscuro);
    color: var(--blanco);
}

.btn-form2 {
    color: var(--azul);
    border-radius: 4px;
    width: max-content;
}

.btn-form3 {
    color: var(--azul);
    border: solid 1px var(--azul);
    border-radius: 4px;
    width: max-content;
    transition: all 0.2s;
}


.msj {
    color: var(--rojo);
    display: none;
}

.fa-arrow-down {
    color: var(--rojo);
}

.fa-arrow-up {
    color: var(--verde);
}



/*HEADER*/

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.menu {
    display: flex;
    gap: 20px;
}

/*MAIN*/

main {
    max-width: 1400px;
    margin: 20px auto;
    border-radius: 4px;
   
}

.cabecera {
    padding: 20px;
    border: solid 1px var(--gris);
    border-radius: 4px;
    width: max-content;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.cuerpo {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    padding: 20px 0;
}

/* section {
    padding: 20px 20px;
} */

/*INGRESOS - EGRESOS*/

.cargar-operacion {
    width: 100%;
}

.form-operacion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 10px;
}


.form-operacion .btn-form {
    width: 100%;
}


/*Detalle*/
.detalle {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.detalle h3 {
    margin-bottom: 20px;
}

.detalle .busqueda {
    margin: 0 0 20px 0;
}

.detalle .busqueda form {
    border: solid 1px var(--gris);
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.detalle .busqueda form input {
    border: none;
    width: 100%;
}

.detalle-titulos {
    background-color: var(--gris-claro);
    font-weight: bolder;
}

.detalle-titulos, .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--gris);
    padding: 8px 15px;
    margin-bottom: 10px;
    font-size: var(--fuente-chica);
}

.detalle-titulos p, .item p {
    width: 100%;
    text-align: center;
}

.flecha, .trash {
    max-width: 20px;
}

.trash {
    color: var(--azul);
    cursor: pointer;
}

.trash i {
    font-size: var(--fuente-grande);
}

.trash:hover {
    color: var(--azul-oscuro);
    transition: all 0.2s;
}


.detalle .eliminar-todo {
    text-align: right;
}

@media (min-width: 768px){

    .cabecera {
        margin: 10px;
    }

    .cuerpo {
       flex-direction: row;
       gap: 40px;
    }

    .cargar-operacion {
        width: 60%;
    }

    .detalle {
        margin-top: 0;
        width: 100%;
    }

    .detalle-titulos, .item {
        font-size: var(--fuente-normal);
    }

}

.radio {
    border: solid 2px red;
}